*
{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body
{
    width: 100%;
    background-color: #fff5ee;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.heading
{
    width: 90%;
    margin: 1% 5%;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem 2rem;
    line-height: 2rem;
    border-radius: 10px;
    background-image: url();
}
.heading h1
{
    font-size: 1.5rem;
}
.heading h2
{
    font-size: 1.2rem;
    color: #4f4f4f;
}
